{
    "presets": ["@babel/preset-env"],
    "env":{
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targest": "> 0.25%, not dead"
                    }
                ]
            ]
        }
 
    }
}